@charset "UTF-8";
/* 共通 */
body {
    color: #555555;
}
main {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.contents1, .contents2, .contents3 {
    height: 100vh;
    scroll-snap-align: start;
}

.contents1 {
    background-image: url(images/bread1.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 10vh;
}

.site-title {
    font-size: 7rem;
    margin-bottom: 3rem;
}
.title-description {
    line-height: 1.7;
}

.contents2 {
    background-image: url(images/bread2.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}
.contents2 .wrapper {
    text-align: left;
}
.menu-title {
    font-size: 5rem;
    margin-bottom: 3rem;
}
.menu-list {
    line-height: 1.7;
}
.menu-list tr {
    margin-bottom: .5rem;
}
.menu-list th {
    font-weight: normal;
}
.menu-list td {
    padding-left: 1rem;
}

.contents3 {
    background-image: url(images/cafe.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 10vh;
}

.footer-title {
    font-size: 7rem;
    margin-bottom: 2rem;
}
.contents3 p {
    line-height: 1.7;
}

button {
    width: 250px;
    height: 56px;
    background-color: green;
    border-radius: 3px;
    margin: 2rem 0 ;
    color: #fff;
    transition: all 0.3s;
}
button:hover {
    opacity: 0.8;
}

.sns-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns-item:not(:first-child) {
    margin-left: 30px;
}